.checkbox {
  &:checked + &__icon {
    background-color: var(--accent-color);
    background-image: url(../images/modal-icons/check.svg);
    background-position: center;
    border: 2 px solid var(--accent-color);
    width: 16px;
    height: 15px;
  }
  &:focus + &__icon {
    outline: none;
    border-color: var(--accent-color);
  }
  &__field {
    position: relative;
    padding-left: 24px;

    display: block;
    font-size: 12px;
    line-height: 1.16;
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.7;    }
    @media screen and (min-width: 480px) {
    white-space: nowrap;}
  }
  &__link {
  white-space: nowrap;
  color: var(--accent-color);
  }
  &__icon {
    position: absolute;
    top: -3px;
    @media screen and (min-width: 1200px) { 
      top: 3px;}
    left: 0;
    display: inline-block;
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-color);

    cursor: pointer;

    transition: background-image var(--transition), border-color var(--transition);
  }
}
