.checkbox {
  &:checked + &__icon {
    background-color: var(--accent-color);
    background-image: url(../images/modal-icons/check.svg);
    background-position: center;
    width: 16px;
    height: 15px;
  }
  &:focus + &__icon {
    outline: none;
    border-color: var(--accent-color);
  }
  &__field {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 30px;
  }
  &__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 10px;

    border: 2px solid var(--title-color);

    cursor: pointer;

    transition: background-image var(--transition), border-color var(--transition);
  }
}
